@{
    Layout = "/Views/Shared/_RtdDoc.cshtml";
    ViewBag.Title = "インデックス";
}

@foreach (var entry in ViewBag.entries)
{
    <article class="entry">
        <h2 class="entry-title"><a href="/Article/@entry.EntryID">@entry.Title</a></h2>
        <div class="entry-date">@Html.Raw(entry.PublishDate.ToString("yyyy.MM.dd"))</div>
        <div class="entry-tag">
            <b>
                タグ:
                @foreach (var t in @entry.Tag)
                {
                    <a class="myButton" href="/Filter/Tag/@Uri.EscapeDataString(t)">@t</a>
                }
            </b>
        </div>
        <div class="entry-body">
            @Html.Raw(entry.Body.Replace("\n", "<br />"))
        </div>
        <div class="entry-commentcount">
            comment: 0
        </div>
    </article>

    <hr />
}

    <div id="pageLink">
        ページ：
        <select id="pageSelect">
            @for (var i = 1; i <= ViewBag.lastPage; i++)
            {
                <option value="@i" @((i == ViewBag.page) ? "selected" : "")>@i</option>
            }
        </select>
        / @ViewBag.lastPage
        <input id="pagePath" style="display:none;" value="@ViewBag.pagePath" />
        <script>
            document.getElementById("pageSelect").addEventListener("change", function () {
                var page = this.options[this.selectedIndex].value;
                var path = document.getElementById("pagePath").value;
                path += "/" + page;
                location.href = path;
            });
        </script>
    </div>