@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "インデックス";
}

@foreach (var entry in ViewBag.entries)
{
    <article class="entry">
        <h2 class="entry-title"><a href="/Entry/@entry.EntryID">@entry.Title</a></h2>
        <div class="entry-date">@Html.Raw(entry.PublishDate.ToString("yyyy.MM.dd"))</div>
        <div class="entry-tag">
            <b>
                タグ:
                @foreach (var t in @entry.Tag)
                {
                    <a class="btn" href="/Filter/Tag/@Uri.EscapeDataString(t)">@t</a>
                }
            </b>
        </div>
        <div class="entry-body">
            @Html.Raw(entry.Body.Replace("\n", "<br />"))
        </div>
        <div class="entry-commentcount">
            comment: 0
        </div>
    </article>
}

@ViewBag._page

<div id="pageLink">
    @for (var i = 1; i < ViewBag.lastPage + 1; i++)
    {
        @if (i != ViewBag.page + 1)
        {
            @if (i != 1)
            {
                <label class="page"><a href="@ViewBag.pagePath/@i">@i</a></label>
            }
            else
            {
                @if (ViewBag.pagePath == "/Page")
                {
                    <label class="page"><a href="/">1</a></label>
                }
                else
                {
                    <label class="page"><a href="@ViewBag.pagePath">1</a></label>
                }
            }
        }
        else
        {
            <label class="page">@i</label>
        }
    }
</div>