@{
    Layout = "/Views/Shared/_RtdDoc.cshtml";
    ViewBag.Title = ViewBag.entry.Title;
    ViewBag.tag = ViewBag.entry.Tag;
}

<article class="entry">
    <h1 class="entry-title">@ViewBag.entry.Title</h1>
    <div class="entry-date">@Html.Raw(ViewBag.entry.PublishDate.ToString("yyyy.MM.dd"))</div>
    <div class="entry-tag">
        タグ:
        @foreach (var t in @ViewBag.entry.Tag)
        {
            <a class="myButton" href="/Filter/Tag/@Uri.EscapeDataString(t)">@t</a>
        }
    </div>
    <div class="entry-body">
        @Html.Raw(ViewBag.entry.Body.Replace("\n", "<br>"))
    </div>
    <div class="entry-commentcount">
        comment: 0
    </div>
</article>